MIX_ENV=dev
DATABASE_URL=ecto://postgres:postgres@host.docker.internal/hello_dev
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=hello_dev
PGPORT=5432
PGHOST=host.docker.internal
REDIS_URL=redis://host.docker.internal:6379
RABBITMQ_URL=amqp://guest:guest@host.docker.internal:5672
RMQ_EXCHANGE=my_exchange
RMQ_QUEUE=my_queue
PORT=4001