export MIX_ENV=prod
export DATABASE_URL=ecto://postgres:postgres@localhost/hello_dev
export REDIS_URL=redis://localhost:6379
export PORT=4000
export RABBITMQ_URL=amqp://guest:guest@localhost:5672
export RMQ_EXCHANGE=my_exchange
export RMQ_QUEUE=my_queue
export SECRET_KEY_BASE=79rq2Ae/L7Cjw4F3Q/jDsKZcoWtq4kbz37XYrt9VdA+V9OeAeA3K1NYnOt9h9dGo
export PHX_HOST=localhost:4000